* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    list-style-type: none;
}


/* --- HEADER | ШАПКА САЙТА --- */


.header {
    width: 100%;
    height: 650px;
    color: #fdfdfd;
}

.header__container {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Лого сайта */

.header__logo {
    padding-right: 185px;
    z-index: 5;
}

/* -- Меню в шапке сайта -- */

.header__menu {
    display: flex;
    padding: 37px 0 0 0;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.header__menu-link {
    cursor: pointer;
    margin-right: 32px;
    z-index: 10;
}

/* анимация наведения в меню */

#sup:after,
#tar:after,
#port:after,
#rew:after,
#cont:after {
    display: none;
    margin-top: 5px;
    position: absolute;
    content: "";
    height: 3px;
    background-color: #F14D34;
    transition: width 0.7s ease;
    z-index: 5;
    width: 100%;
}

#sup:after {
    width: 141px;
}

#tar:after,
#rew:after {
    width: 56px;
}

#port:after {
    width: 98px;
}

#cont:after {
    width: 71px;
}

#sup:hover:after,
#port:hover:after,
#rew:hover:after,
#cont:hover:after,
#tar:hover:after {
    display: block;
    transition: 0.4s;
}

/* Контактный номер телефона */

.header__contacts {
    display: flex;
    align-items: center;
    z-index: 10;
}

.header__phone {
    z-index: 2;
    margin-left: 70px;
    font-size: 18px;
    line-height: 14px;
}

/* Смена языка на сайте */

.header__lang {
    z-index: 5;
    padding-left: 38px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.header__lang-arrow {
    z-index: 5;
    padding-left: 10px;
}

.header__lang ul {
    position: absolute;
    top: 10px;
    padding-top: 15px;
    display: none;
    min-width: 60px;
}

.header__lang ul li {
    background: #F14D34;
}

.header__lang ul li a {
    padding: 10px;
    text-transform: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

}

.header__lang:hover>ul {
    display: block;
    z-index: 5;
}



/* -- Основная информация хедера -- */

.header__descr {
    width: 750px;
    margin-left: 100px;
}

.header__content-title {
    max-width: 475px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
}

.header__content-text {
    max-width: 480px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 55px;
    opacity: 0.8;
}

/* Кнопка с тарифами */

.header__btn {

    display: block;
    margin-top: 55px;
    cursor: pointer;
    width: 220px;
    height: 60px;
    border: 2px solid #F14D34;
    border-radius: 5px;
    display: flex;
    letter-spacing: 0.06em;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
}

.header__btn:hover {
    background-color: #F14D34;
    transition: 0.3s;
}

/* -- Часть с достижениями компании -- */

/* Логотив кубка */

.header__img-cup {
    position: absolute;
    width: 59px;
    height: 58px;
    left: 50px;
    top: 204px;
}

.header__content {
    color: white;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 100%;
    height: 562px;
}

.header__achiev {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 153px 60px 154px 97px;
}

.header__achiev .header__achiev-item {
    position: relative;
    height: 92px;
    width: 135px;
    margin: 70px 70px 50px 0px;
    padding-top: 20px;
}

.header__achiev .header__achiev-item span {
    font-size: 24px;
    font-weight: bold;
}

.header__achiev .header__achiev-item p {
    opacity: 0.8;
    font-size: 12px;
    line-height: 15px;
    margin-top: 8px;
}

.header__achiev .header__achiev-item img {
    position: absolute;
    top: -10px;
}

.header__achiev .header__achiev-item::before {
    content: "";
    display: block;
    position: absolute;
    left: -11px;
    width: 3px;
    background-color: #F14D34;
    height: 80px;
}

.header__achiev .header__achiev-item :first-child:before {
    content: "";
    display: block;
    position: absolute;
    left: -11px;
    top: 5px;
    width: 3px;
    background-color: #F14D34;
    height: 100px;
}

/*  -- Видео на фоне --  */

.header__video {
    width: 100%;
    max-height: 650px;
    height: 100%;
    filter: brightness(25%);
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* -- друпликон на фоне -- */

.header__druplicon {
    position: absolute;

    left: 0px;
    top: 0px;
    z-index: 2;

    background: linear-gradient(300deg, rgba(0, 0, 0, 0.548));
    transform: rotate(-1deg);
}


/* --- SERVICES | СЕРВИСЫ --- */


.services {
    margin-top: 160px;
    width: 1440px;
}

/* Основная информация */

.services__title {
    margin: 0px 700px 18px 339px;
    width: 750px;
    font-size: 42px;
    font-style: normal;
    font-weight: bold;
    line-height: 51px;
    margin-bottom: 18px;
    color: #050C33;
}

.services__text {
    width: 580px;
    margin-left: 339px;
    font-size: 16px;
    line-height: 22px;
    color: #050C33;
    opacity: 0.7;
}

/* Список */

.services__list {
    margin-left: 330px;
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services__item {
    align-self: center;
    justify-self: center;
    height: 200px;
    position: relative;
    width: 182px;
    margin-right: 147px;
    margin-bottom: 50px;
}

.services__item p {
    margin-top: 25px;
    width: 182px;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.7;
}

.services__item::before {
    left: -30.22%;
    right: 67.58%;
    top: 8.76%;
    bottom: 54.64%;
    content: "";
    height: 71px;
    width: 114px;
    background: url(../img/services/icon-bg.svg) no-repeat;
    position: absolute;
}


@media screen and (max-width: 700px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  header {
    padding: 0px;
  }

  ._container {
    width: 100%;
  }

  ._min-container {
    width: 100%;
  }
    
  /* основной блок header */

  .header__container {
    width: 100%;
    flex-direction: column;
    padding: 0px 20px;
  }
 
  .header__druplicon img {
    height: 400px;
    width: 400px;
  }

  .header {
    text-align: center;
  }

  .header__video {
    width: 100%;
    min-height: 800px;
  }
    
     /* burger menu */

  .header__burger {
    right: 0;
    bottom: 0;
    margin: 15px;
    position: fixed;
    display: block;
    width: 30px;
    height: 18px;
    z-index: 10;
  }

  .header__burger span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    top: 8px;
    left: 0;
    opacity: 0.5;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    opacity: 0.5;
  }

  .header__burger::before {
    right: 0;
  }

  .header__burger::after {
    bottom: 0;
  }
    
    /* header__menu */

  .header__menu {
    position: fixed;
    background-color: #333;
    bottom: 0;
    left: 0;
    z-index: 15;
    height: 48px;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .header__container .header__menu li {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 8px 20px;
    height: 39px;
    z-index: 10;
  }

  .header__container .header__menu li:first-child a {
    color: #F14D34;
  }

  .header__menu-wrapper {
    position: fixed;
    width: 100%;
    height: 620px;
    bottom: -200%;
    left: 0;
    background-color: #333;
    z-index: 4;
    transition: 0.3s;
  }

  .header__menu-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 10;
    border-top: 1px solid black;
  }

  .header__menu-wrapper .header__menu {
    flex-direction: column;
    text-align: initial;
  }

  .header__menu-wrapper .header__menu .header__lang {
    margin-bottom: 155px;
  }

  .header__menu-wrapper .header__menu ul li {
    margin-top: 15px;
    width: 100%;
    display: block;
    margin-left: -20px;
    background-color: #333;
    padding: 0px;
    border-top: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }

  .header__menu-wrapper .header__menu .submenu a {
    font-size: 11px;
    display: block;
    height: 32px;
    padding: 10px 20px;
    padding-left: 40px;
    border-bottom: 1px solid black;
  }
    
    /* основная информация header */

  .header__content {
    width: 100%;
    flex-direction: column;
  }

  .header__content .header__descr {
    width: 100%;
    margin: 0px;
  }

  .header__content-title {
    width: 240px;
    line-height: 32px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
  }

  .header__btn {
    margin: 0px auto;
  }
  .header .header__btn {
    background-color: inherit;
    margin-bottom: 40px;
  }

  .header__content-text {
    margin: 20px auto 40px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    opacity: 0.7;
  }

  /* достижения в header */

  .header__achiev {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .header .header__achiev .header__achiev-item {
    text-align: start;
    margin: 30px 30px 30px 40px;
    width: 130px;
  }

  .header .header__achiev .header__achiev-item span {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
  }

  .header .header__achiev .header__achiev-item p {
    opacity: 0.7;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 8px;
  }

  .header .header__achiev .header__achiev-item img {
    position: absolute;
    top: -10px;
  }
    
    .services {
    padding: 60px 15px;
  }

  .services__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .services .services__title {
    padding: 10px 10px;
    margin: 0;
    font-size: 25px;
    line-height: 35px;
    width: 100%;
  }

  .services .services__text {
    margin: 0;
    padding: 20px 10px;
    width: 100%;
  }

  .services__item {
    width: 100%;
    margin-right: 0px;
  }

  .services__item p {
    width: 135px;
    font-size: 13px;
    margin-top: 25px;
    margin-left: 20px;
  }

  .services__item img {
    margin: 0px auto;
    display: block;
  }

  .services__item::before {
    left: 0;
    top: 8.76%;
    bottom: 54.64%;
    content: "";
    height: 71px;
    width: 114px;
    background: url(../img/services/icon-bg.svg) no-repeat;
    position: absolute;
  }
    .support {
    margin-top: 160px;
    color: #050C33;
}

/* Общая информация */

.support__title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    width: 406px;
    margin: 0px auto -140px;
}

/* Карточки услуг */

.support__list {
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.support__item {
    z-index: 2;
    position: relative;
    overflow: hidden;
    width: 292px;
    height: 292px;
    padding: 30px 20px 0px 28px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    top: 205px;
}

/* Информация с карточек услуг */

.support__item .support__item-number {
    font-size: 12px;
    opacity: 0.5;
    font-weight: 700;
    margin-bottom: 10px;
}

.support__item .support__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}

.support__item .support__item-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.7;
}

/* иконки карточек */

.support__item-1::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support1.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-2::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support2.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-3::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support3.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-4::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support4.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-5::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support5.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-6::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support6.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-7::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support7.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.support__item-8::before {
    content: "";
    width: 84px;
    height: 84px;
    background: url("../img/support/support8.svg") no-repeat;
    position: absolute;
    right: 0;
    bottom: -2px;
}

/* фон с druplicon */

.support__druplicon {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 1060px;
    height: 839px;
}

/* фон с laptop */

.support__laptop {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 760px;
    height: 562px;
    z-index: 4;
}

/* темная обертка */

.support__wrapper {
    position: relative;
    height: 839px;
    background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.support__wrapper .support__wrapper-body {
    padding-top: 205px;
    position: relative;
    z-index: 2;
}

.support__expertise {
    margin-top: 197px;
    margin-left: auto;
    margin-right: 430px;
    width: 580px;
}

/* Заголовок темной обертки */

.support__expertise-title {
    color: white;
    width: 580px;
    font-size: 42px;
    line-height: 51px;
    font-weight: 700;
}

/* Список темной обертки */

.support__expertise-list {
    display: flex;
}

.support__expertise-item {
    width: 256px;
    height: 100px;
    padding: 10px 0px 0px 13px;
    border-left: 3px solid #F14D34;
    margin-right: 20px;
    margin-top: 60px;
}

.support__expertise-item p {
    color: white;
    opacity: 0.7;
    font-size: 16px;
    line-height: 22px;
}


/* --- PLANS | ТАРИФЫ УСЛУГ --- */

.plans {
    position: relative;
    height: 913px;
}

.plans__body {
    padding: 150px 0px;
}

.plans__body p {
    text-align: start;
    width: 468px;
    font-size: 16px;
    line-height: 22px;
    color: #050C33;
}

.plans__body a {
    display: block;
    width: 260px;
    color: #050C33;
    font-size: 12px;
    text-decoration: underline;
    margin: 24px auto;
}

/* фон */

.d-big-background {
    position: absolute;
    top: 0;
    right: 0;
}

/* линия в карточках */

.plans__card-line {
    width: 300px;
    height: 1px;
    opacity: 0.2;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: black;
}

/* заголовок раздела */

.plans__title {
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
    z-index: 4;
    font-weight: bold;
    line-height: 51px;
    align-items: center;
    text-align: center;
}

/* карточки */

.plans__cards {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 52px;
}

/* заголов карточек */

.plans__title-card h4 {
    color: #F14D34;
    font-size: 22px;
    font-weight: 700;
}

/* цены карточек */

.plans__price-card h3 {
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #050C33;
}

.plans__price-card span {
    position: relative;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    top: -11px;
    color: #050C33;
}

.plans__price-card p {
    position: relative;
    right: 15px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: start;
    color: #050C33;
    opacity: 1;
}

/* анимация карточек с помощью JS */

.plans .scaled {
    z-index: 2;
    transform: scale(1.08);
    box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
}

.plans .scaled .plans__btn {
    color: white;
    background-color: #F14D34;
}

.plans .business-scale {
    padding-top: 85px;
    z-index: 1;
    transform: scale(0.93);
    box-shadow: none;
}

.plans .business-scale .plans__btn {

    width: 300px;
    margin-top: 50px;
    background-color: white;
    color: #F14D34;
}

/* тело карточек */

.plans__card {
    padding: 70px 20px 60px;
}

.plans__card p {
    color: #050C33;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 15px;
    opacity: 0.7;
}

.plans__wrapper {
    width: 330px;
    margin: 0px auto;
    margin-left: 20px;

}

/* кнопки карточек */

.plans__btn {
    color: #F14D34;
    font-size: 12px;
    width: 300px;
    height: 60px;
    border: 1px solid #F14D34;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: white;
    transition: 0.4s;
    cursor: pointer;
}

/* карточка пакета "стартовый" */

.plans__card-starting {
    position: relative;
    left: 20px;
    z-index: 1;
    width: 360px;
    height: 619px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    background: white;
    transition: 0.4s;
}

.plans__card-starting .plans__card-line {
    width: 270px;
}

.plans__card-starting .plans__wrapper {
    width: 300px;
    margin: 0px auto;
}

/* карточка пакета "бизнес" */

.plans__card-business {
    box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
    z-index: 2;
    width: 390px;
    height: 665px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: white;
    transition: 0.4s;
}

.plans__card-business .plans__card-line {
    margin-bottom: 65px;
}

.plans__card-business .plans__btn {
    background-color: #F14D34;
    color: white;
}

.business_btn {
    margin-top: 75px;
}

/* карточка пакета "vip" */

.plans__card-vip {
    position: relative;
    right: 20px;
    z-index: 1;
    width: 360px;
    height: 619px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 15px;
    background: white;
    transition: 0.4s;
}

.plans__card-vip .plans__card-line {
    width: 270px;
}

.plans__card-vip .plans__wrapper {
    width: 300px;
    margin: 0px auto;
}

/* опции карточек */

.plans__card-list-options {
    margin-bottom: 20px;
    display: flex;
    width: 300px;
}

/* галочки в карточках */

.plans__card-checkmark {
    width: 30px;
    height: auto;
}

/* футер / текст под всеми карточками */

.plans__footer-text {
    display: block;
    margin: 53px auto 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    width: 468px;
    opacity: 0.5;
}
  
} 
